@import url('./fonts.css');
@import url('./reset.css');
@import url('./skip.css');

// 중첩코딩
#wrap {
    width: 100%;
    height: 100%;
    #header{
        width: 100%;
        height: 86px;
        background: #93e4cf;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        .container{
            width: 100%;
            max-width: 1170px;
            height: 100%;
            margin: 0 auto;
            .gap{
                width: 100%;
                padding: 0 15px;
                height: 100%;
                display: flex;
                .left{
                    width: 38%;height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    ul{
                        display: flex;
                        margin: 0 30px 0 0;
                        li{ 
                            margin: 0 0 0 30px;
                            a{
                                color: #626262;
                                font-size: 13px;
                                font-weight: 600;
                                &:focus{
                                    color: #d32b55;
                                }
                                &:hover{
                                    color: #d32b55;
                                }
                                &.on{
                                    color: #d32b55;
                                }
                            }
                        }
                    }
                }
                .center{
                    width: 24%;
                    height: 100%;                    
                        a{
                            display: block;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            background: url(../img/logo-pink2.png) no-repeat 50% 50%;
                            background-size: cover;
                        }
                }
                .right{
                    width: 38%;height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                      ul{
                        display: flex;
                        margin: 0 0 0 30px;
                        li{
                            margin: 0 30px 0 0;
                            a{
                                color: #626262;
                                font-size: 13px;
                                font-weight: 600;
                                &:focus{
                                    color: #d32b55;
                                }
                                &:hover{
                                    color: #d32b55;
                                }
                                &.on{
                                    color: #d32b55;
                                }
                                
                            }
                              
                            }
                    }
                }
             }
            }
        }
    }
    #main{
        z-index: 2;
        position: relative;
        width: 100%;
        #section1{
            position: relative;
            width: 100%;
            height: 100vh;
            background: url(../img/wedding-img3.jpg) no-repeat 50% 50%;
            &::before {
                content: '';
                z-index: 1;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(37, 37, 37,0.4);
                //opacity: 0.4;
            }
             //타이틀
            .container{
                width: 100%;
                max-width: 1170px;
                margin: 0 auto;
                height: 100%;
                .gap{
                    height: 100%;
                    padding: 0 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .title{
                        z-index: 2;
                        position: relative;
                        text-align: center;
                        width: 307px;
                        user-select: none;
                        figure{
                            img{
                                width: 100%;
                            }
                        }
                        hr{
                            border: 0;
                            border-top: 1px solid #93e4cf;
                            border-bottom: 1px solid #93e4cf;
                            width: 100%;
                            height: 4px;
                            margin: 40px 0;
                        }
                        h3{
                            font-size: 18px;
                            color: #fff;  
                            font-weight: 500;  
                            padding: 0 0 7px 0;                                                
                        }
                        h2{
                            font-size: 24px;
                            color: #85d4c0;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        #section2{
            width: 100%;
            padding: 130px 0;
            background: #fff;
            .container{
                width: 100%;
                max-width: 1170px;
                margin: 0 auto;
                display: flex;
                .gap{        
                    width: 100%;       
                .title{
                    width: 100%;
                    text-align: center;
                    padding: 0 0 90px 0;
                    h2{
                        display: inline-block;
                        font-size: 24px;
                        color: #e15276;
                        position: relative;
                        font-weight: 700;
                        &::before{
                            content: '';
                            position: absolute;
                            left: -60px;
                            top: 50%;
                            margin: -0.5px 0 0 0;
                            width: 40px;
                            height: 1px;
                            background: #93e4cf;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            right: -60px;
                            top: 50%;
                            margin: -0.5px 0 0 0;
                            width: 40px;
                            height: 1px;
                            background: #93e4cf;
                        }
                    }
                }
                .content{
                    width: 100%;
                    display: flex;
                    .left{
                        width: 50%;
                        height: 350px;
                        .content-box{
                            width: 100%;
                            >ul{
                                width: 100%;
                                display: flex;
                                >li{
                                    width: 50%;
                                    &.left-image{
                                        width: 100%;
                                        >.gap{
                                            padding: 0 15px;
                                            .img-box{
                                                width: 100%;
                                                figure{
                                                    width: 100%;
                                                    img{
                                                        width: 100%;
                                                        outline: 4px solid rgba(255,255,255,0.3);
                                                        outline-offset: -15px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.left-text{
                                        width: 100%;
                                        .gap{
                                            padding: 0 15px;
                                            .text-box{
                                                width: 100%;
                                                ul{
                                                    width: 100%;
                                                    li{
                                                        width: 80%;
                                                        text-align: left;
                                                        h2{
                                                            padding: 0 0 10px 0;
                                                            i{
                                                                font-size: 40px;
                                                                color: #85d4c0;

                                                            }
                                                        }
                                                        h3{
                                                            font-size: 18px;
                                                            font-weight: 700;
                                                            line-height: 130%;
                                                            letter-spacing: -0.3px;
                                                            color: #85d4c0;
                                                        }
                                                        h4{
                                                            font-size: 13px;
                                                            font-weight: 600;
                                                            padding: 20px 0;
                                                        }
                                                        p{
                                                            font-size: 13px;
                                                            font-family: 'Roboto';
                                                            line-height: 170%;
                                                            letter-spacing: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .icon-box{
                            user-select: none;
                            width: 100%;
                            display: flex;
                            padding: 30px 0 0 0;
                            text-align: center;
                            .left{
                                width: 50%;
                                a{
                                    color: #333;
                                    margin: 0 10px;
                                    i{
                                        font-size: 14px;
                                    }
                                }
                            }
                            .right{
                                width: 50%;
                            }
                        }
                    }
                    .right{
                        width: 50%;
                        height: 350px;
                        .content-box{
                            width: 100%;
                            >ul{
                                width: 100%;
                                display: flex;
                                >li{
                                    width: 50%;
                                    &.left-image{
                                        width: 100%;
                                        >.gap{
                                            padding: 0 15px;
                                            .img-box{
                                                width: 100%;
                                                figure{
                                                    width: 100%;
                                                    img{
                                                        width: 100%;
                                                        outline: 4px solid rgba(255,255,255,0.3);
                                                        outline-offset: -15px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.left-text{
                                        width: 100%;
                                        .gap{
                                            padding: 0 15px;
                                            .text-box{
                                                width: 100%;
                                                ul{
                                                    width: 100%;
                                                    li{
                                                        width: 80%;
                                                        text-align: left;
                                                        h2{
                                                            padding: 0 0 10px 0;
                                                            i{
                                                                font-size: 40px;
                                                                color: #85d4c0;

                                                            }
                                                        }
                                                        h3{
                                                            font-size: 18px;
                                                            font-weight: 700;
                                                            line-height: 130%;
                                                            letter-spacing: -0.3px;
                                                            color: #85d4c0;
                                                        }
                                                        h4{
                                                            font-size: 13px;
                                                            font-weight: 600;
                                                            padding: 20px 0;
                                                        }
                                                        p{
                                                            font-size: 13px;
                                                            font-family: 'Roboto';
                                                            line-height: 170%;
                                                            letter-spacing: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .icon-box{
                            user-select: none;
                            width: 100%;
                            display: flex;
                            padding: 30px 0 0 0;
                            text-align: center;
                            .left{
                                width: 50%;
                                a{
                                    color: #333;
                                    margin: 0 10px;
                                    i{
                                        font-size: 14px;
                                    }
                                }
                            }
                            .right{
                                width: 50%;
                            }
                        }
                    }
                }
            }
            }

        }
        #section3{
            width: 100%;
            height: 346px;
            background: url(../img/wedding-img7.jpg) no-repeat 50% 50% fixed;
            background-size: 100% auto;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background: rgba(37,37,37,0.4);

            }
            .container{
                width: 100%;
                height: 100%;
                .gap{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 15px;
                    .title{
                        width: 100%;
                        height: 24px;
                        text-align: center;
                        position: relative;
                        z-index: 2;
                        h2{
                            font-size: 24px;
                            font-weight: 600;
                            color: #85d4c0;}
                    }
                }
            }

        }
        #section4{
            width: 100%;
            background: #fff;
            padding: 130px 0;
            border-bottom: 1px solid #ddd;
            .container{
                width: 1170px;
                margin: 0 auto;
               >.gap{ //이름이 겹칠 경우 >로 직계표현을 사용해야함
                    width: 100%;
                    .title{
                        width: 100%;
                        text-align: center;
                        padding: 0 0 90px 0;
                        h2{
                            display: inline-block;
                            font-size: 24px;
                            color: #e15276;
                            position: relative;
                            font-weight: 700;
                            &::before{
                                content: '';
                                position: absolute;
                                left: -60px;
                                top: 50%;
                                margin: -0.5px 0 0 0;
                                width: 40px;
                                height: 1px;
                                background: #93e4cf;
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                right: -60px;
                                top: 50%;
                                margin: -0.5px 0 0 0;
                                width: 40px;
                                height: 1px;
                                background: #93e4cf;
                            }
                        }
                    }
                    .content{
                        width: 100%;
                        ul{
                            width: 100%;
                            display: flex;
                            li{
                                width: 33.33333%;
                                .col-gap{
                                    width: 100%;
                                    padding: 0 15px;
                                    text-align: center;
                                    .box{
                                        width: 100%;
                                        border: 5px solid #eee;
                                        .box-gap{
                                            width: 100%;
                                            padding: 35px 60px;
                                            h2{
                                                padding: 0 0 15px 0;
                                                i{
                                                    font-size: 60px;
                                                    color: #85d4c0;
                                                }
                                            }
                                            h3{font-size: 15px; font-weight: 600;}
                                            hr{border: 0; background:#ccc;width: 100%;height: 1px;margin: 25px 0; }
                                            p{
                                                color: #929292; font-size: 13px; padding: 0 0 10px 0;
                                            }
                                            h4{
                                                color: #929292; font-size: 13px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #section5{
            width: 100%;
            padding: 130px 0;
            background: #fff;
            .container{
                width: 100%;
                max-width: 1170px;
                margin: 0 auto;
                .gap{
                    width: 100%;
                    .title{
                        width: 100%;
                        text-align: center;
                        padding: 0 0 90px 0;
                        h2{
                            display: inline-block;
                            font-size: 24px;
                            color: #e15276;
                            position: relative;
                            font-weight: 700;
                            &::before{
                                content: '';
                                position: absolute;
                                left: -60px;
                                top: 50%;
                                margin: -0.5px 0 0 0;
                                width: 40px;
                                height: 1px;
                                background: #93e4cf;
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                right: -60px;
                                top: 50%;
                                margin: -0.5px 0 0 0;
                                width: 40px;
                                height: 1px;
                                background: #93e4cf;
                            }

                        }
                    }
                    .content{
                        width: 100%;
                        overflow: hidden;
                        .gallery-box{
                            width: 1181px;
                            margin: 0 0 0 -11px;
                            ul{
                                width: 100%;
                                display: flex;
                                flex-flow: row wrap;
                                li{
                                    width: 25%; //모두 합해서 100%가 되면 줄바꿈-flex-flow:row wrap
                                    .col-gap{
                                        //width: 100%; padding: 0 0 11px 11px; 오버 공간이 보여서 적합하지 않음.                                       
                                        width:auto; 
                                        margin: 0 0 11px 11px; //마진 사용 시 너비 오토(마진 제외하고 나머지 너비를 채운다)/100%로 쓰면 너비 초과됨
                                        overflow: hidden;// 오버되는 이미지가 마진영역에서는 안 보임
                                        a{
                                            display: block;
                                            width: 100%;
                                            figure{
                                                width: 100%;
                                                img{
                                                    width: 100%;
                                                    transition: all 0.4s;
                                                    &:hover{
                                                        //변형:크기(1.1); 10%커지게                                                
                                                        transform: scale(1.1);
                                                        opacity: 0.2;
                                                        cursor: url(../img/icon-zoom.png), auto;
                                                    }

                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
       
        #section6{
            position: relative;
            width: 100%;
            height: 760px;
            background: url(../img/wedding-img16.jpg) no-repeat 50% 50% fixed;
            background-size: cover;
            padding: 130px 0;
            &::before {
                content: '';
                z-index: 1;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(37, 37, 37,0.4);
             }
             .container{
                z-index: 2;
                position: relative;
                width: 100%;
                max-width: 1170px;
                margin: 0 auto;
                .gap{
                    width: 100%;
                    .content{
                        width: 100%;
                        >ul{
                            width: 100%;
                            display: flex;
                            >li{
                                width: 50%;
                                .col-gap{
                                    width: auto;
                                    margin: 0 15px;
                                    .content-box{
                                        width: 100%;
                                        height: 500px;
                                        outline: 5px solid rgba(255,255,255,0.3);
                                        outline-offset: -15px;
                                        &.left{
                                            background: url(../img/wedding-img17.jpg) no-repeat 50% 50%;
                                            background-size: cover;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            h2{
                                                width: 60%;
                                                font-size: 28px;
                                                color: #fff;
                                                line-height: 140%;
                                                text-align: center;
                                                font-weight: 600;
                                                font-family: 'Montserrat';
                                                letter-spacing: 0.3px;
                                            }
                                        }
                                        &.right{
                                            background: #93e4cf;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            .content-wrap{
                                                width: 75%;
                                               
                                                .content-head{                                                   
                                                        font-size: 24px;
                                                        font-weight: 600;
                                                        color:#626262;
                                                        text-align: center;
                                                        padding: 0 0 40px 0;
                                                }
                                                #messageForm{
                                                    padding: 40px 0 30px 0;
                                                    ul{
                                                        width: 100%;
                                                        li{
                                                            width: 100%;
                                                            padding: 10px 0;
                                                            &:nth-child(3){
                                                                display: flex;
                                                                justify-content: space-between;
                                                            }
                                                            &:last-child{
                                                                text-align:center;
                                                            }
                                                            input{
                                                                width: 100%;
                                                                height: 47px;
                                                                background: #fff;
                                                                border: 0;
                                                                border-radius: 2px;
                                                                padding: 0 15px;
                                                                &::placeholder{
                                                                    color: #ccc;
                                                                }
                                                                &:focus{
                                                                    outline: 0;
                                                                }

                                                            }
                                                            div {
                                                                width: 47%;
                                                                select{
                                                                    width: 100%;
                                                                    height: 47px;
                                                                    background: #fff url(../img/select-arrow.png) no-repeat 97% 50%;
                                                                    border: 0;
                                                                    // 원래의 모양 사용안함 appearance:none;
                                                                    appearance: none;
                                                                    padding: 0 15px;
                                                                    &:focus{
                                                                        outline: 0;
                                                                    }

                                                                }
                                                            }
                                                            button{
                                                                padding: 0 15px;
                                                                height: 50px;
                                                                background: #000;
                                                                color: #fff;
                                                                border: 3px solid #000;
                                                                border-radius: 3px;
                                                                text-transform: uppercase;
                                                                font-size: 13px;
                                                                font-weight: 600;
                                                                font-family: 'Montserrat';
                                                                transition: all 0.3s;
                                                                &:hover{
                                                                    background: #fff;
                                                                    color: #000;
                                                                    cursor: pointer;                                                                  
                                                                } 
                                                            }
                                                        }
                                                    }
                                                }
                                                .content-foot{
                                                    display: none;
                                                    font-size: 13px;
                                                    color:#626262;
                                                    text-align: center;
                                                    padding: 10px 15px;
                                                    border: 2px solid #cc3;
                                                    &.foot1{                                                    
                                                        &.on{display: block;}
                                                    }
                                                    &.foot2{                                              
                                                    &.on{display: block;}
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
             }
        }
        #section7{
            width: 100%;
            background: #fff;
            padding: 130px 0;
            .container{
                width: 100%;
                max-width: 1170px;
                margin: 0 auto;
                .gap{
                    padding: 0 15px;
                    .title{
                        width: 100%;
                        text-align: center;
                        h2{
                            display: inline-block;
                            font-size: 24px;
                            color: #e15276;
                            position: relative;
                            font-weight: 700;
                            &::before{
                                content: '';
                                position: absolute;
                                left: -60px;
                                top: 50%;
                                margin: -0.5px 0 0 0;
                                width: 40px;
                                height: 1px;
                                background: #93e4cf;
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                right: -60px;
                                top: 50%;
                                margin: -0.5px 0 0 0;
                                width: 40px;
                                height: 1px;
                                background: #93e4cf;
                            }

                        }
                    }
                    .content{
                        width: 100%;
                        p{
                            width: 456px;
                            margin: 0 auto;
                            line-height: 180%;
                            font-size: 13px;
                            color: #626262;
                            text-align: center;
                            font-family: 'Roboto';
                            padding: 80px 0;
                        }
                        span{
                            display: block;
                            width: 100%;
                            max-width: 945px;
                            margin: 0 auto;
                            display: flex;
                            justify-content: space-around;
                            a{
                                img{
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        #section8{
            width: 100%;
            background: #f7f7f7;
            padding: 130px 0;
            .container{
                width: 100%;
                .gap{
                    width: 100%;
                    .title{
                        width: 100%;
                        text-align: center;
                        padding: 0 15px 90px 15px;
                        h2{
                            display: inline-block;
                            font-size: 24px;
                            color: #e15276;
                            position: relative;
                            font-weight: 700;
                            &::before{
                                content: '';
                                position: absolute;
                                left: -60px;
                                top: 50%;
                                margin: -0.5px 0 0 0;
                                width: 40px;
                                height: 1px;
                                background: #93e4cf;
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                right: -60px;
                                top: 50%;
                                margin: -0.5px 0 0 0;
                                width: 40px;
                                height: 1px;
                                background: #93e4cf;
                            }
                        }
                    }
                    .content{
                        width: 100%;
                        .slide-container{
                            width: 100%;
                            .slide-view{
                                width: 100%;
                                overflow: hidden;
                                // overflow: visible;
                                .slide-wrap{ //슬라이드 5칸-우측에서 좌측으로 이동하는 애니메이션 구현
                                    width: 125%; 
                                    display: flex;
                                    animation: slide-ani 4s ease both /*forwards backwards*/;
                                    // animation: slide-ani 4s ease-in both;
                                    // animation: slide-ani 4s ease-out both;
                                    // animation: slide-ani 4s ease-in-out both;
                                    // animation: slide-ani 4s cubic-bezier(0.075, 0.82, 0.165, 1) both; 
                                    .slide{
                                        width: 25%;
                                        .col-gap{
                                            width: auto;
                                            margin:0 15px;

                                            .top-box{
                                                width: 100%;
                                                // height: 322.172px;
                                                position: relative;
                                                overflow: hidden;
                                                &::after{
                                                    content: "";
                                                    display: block;
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    width: 100%;
                                                    height: 100%;
                                                    background-color: rgba(0,0,0,0);
                                                    z-index: 2;
                                                    cursor: pointer;
                                                    transition: all 0.3s;
                                                }
                                                img{
                                                    width: 100%;
                                                    position: relative;
                                                    z-index: 1;
                                                    transition: all 0.3s;
                                                
                                                }
                                                span{
                                                    position: absolute;
                                                    z-index: 3;
                                                    right: 0px;
                                                    bottom: 0;
                                                    padding: 12px 25px;
                                                    background: #f7f7f7;
                                                    em{
                                                        font-size: 13px;
                                                        color: #626262;
                                                        font-weight: 600;
                                                        text-transform: uppercase;
                                                    }
                                                }
                                            }
                                            .bottom-box{
                                                width: 100%;
                                                padding: 25px;
                                                background: #f7f7f7;
                                                display: flex;
                                                cursor:
                                                h3{
                                                    font-size: 35px;
                                                    font-weight: 700;
                                                    color: #d32b55;
                                                    margin: 0 25px 0 0;
                                                }
                                                div{
                                                    h4{
                                                        font-size: 15px;
                                                        font-weight: 700;
                                                        color: #222;
                                                        text-transform: uppercase;
                                                    }
                                                    p{
                                                        font-size: 14px;
                                                        font-weight: 400;
                                                        color: #626262;
                                                        line-height: 180%;
                                                        font-family: 'Roboto';
                                                        padding: 10px 0 30px 0;
                                                    }
                                                    i{
                                                        display: block;
                                                        width: 30px;
                                                        height: 4px;
                                                        background: #93e4cf;
                                                    }
                                                }
                                            }
                                            &:hover{
                                                .top-box{
                                                    &::after{
                                                        background: rgba(0,0,0,0.3);
                                                    }
                                                }
                                                img{
                                                    transform: scale(1.2);
                                                }
                                            }
                                         
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
        // 애니메이션 이름
        // slide-ani
        // 3초대기 1초이동 100% / 4 = 25% : 1초에 해당하는 백분율 / 이동-transform: x좌표 이동 translatex(-475.75px)
        // 키프레임
        @keyframes slide-ani {
              0%{transform: translateX(-475.75px * 0);}
             25%{transform: translateX(-475.75px * 0);}
             50%{transform: translateX(-475.75px * 0);}
             75%{transform: translateX(-475.75px * 0);}
            100%{transform: translateX(-475.75px * 1);}
            
        }
        #section9{
            width: 100%;
            height: 130px + 614.594px +130px;
            background: #fff;
            padding: 130px 0;
        }
        #section10{
            width: 100%;
            height: 294.375px +130px +80px;
            background: #fff;
            padding: 130px 0 80px 0;
            border-top: 1px solid #ddd;
        }
        #section11{
            width: 100%;
            height: 420px;
            background: #fff;
            iframe {
                width: 100%;
                height: 100%;
                border: 0;
            }
        
        }
    }
    footer{
        z-index: 1;
        position: relative;
        width: 100%;
        height: 300px;
        background: #dcdcdc;
    }
